/*
 * -----------------------------------
 *  TRACEx-typex configuration
 * -----------------------------------
*/

params.major_only=false

manifest {
	name = 'TYPEx'
	author = 'Mihaela Angelova'
	description = 'Cell phenoTYPing from imaging multiplEX'
	mainScript = 'main.nf'
}

params {

	help=false
	major_only=false
	subsample=true
	imcyto=true
	
	// Imaging dataset
	study='tracerx'
	cohort='tx100'
	run='publication'
	panel='p1'

	// IO Settings
	inDir="/camp/project/proj-tracerx-lung/tctProjects/rubicon/${study}/${cohort}/imc/outputs/nextflow/"
	outDir="$baseDir/output"

	// Typing parameters	
	celltypeReviewFile="$baseDir/data/cell_typing_review.txt"
	major='cellassign'
	major_markers='mcsa'
	major_markers_ref='mcsanov'
	subtype_markers='all'
	subtype_method='FastPG'
	major_method='cellassign'

	// Cell type parameters
	cellAssignFile="${baseDir}/data/${panel}_reassign.${study}.${cohort}.txt"

	// Clinical information
	regFile = "${baseDir}/data/metadata.${study}.txt" 
		//"${projectDir}/${study}/master_files/metadata/metadata.${study}.txt"


	 publish_dir_mode = 'copy'
}

includeConfig 'conf/base.config'

profiles {

  debug { process.beforeScript = 'echo $HOSTNAME' }

  docker {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
 }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = '.cache'
  }

  test              { includeConfig 'conf/test.config' }

}

