process {

	executor = 'slurm'
  cache = 'lenient'
  maxRetries = 1
	maxErrors='-1'
		
	errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
	
    withLabel:xs {
       cpus = { Math.min(2, params.max_cpus as int ) }
       memory = { Math.min(4, params.max_memory as int) + ".GB" }
       time = '5h'
    }

	withLabel:s {
        cpus = { Math.min(4, params.max_cpus as int ) }
        memory = { Math.min(8, params.max_memory as int) + ".GB" }
        time = '3d'
    }

    withLabel:medium_mem {
        cpus = 1
        memory = { Math.min(16, params.max_memory as int) + ".GB" }
        time = '3d'
    }
    withLabel:max_mem {
        cpus = 1
        memory = { Math.min(256, params.max_memory as int) + ".GB" }
        time = '3d'
    }
    withLabel:max {
        cpus = { Math.min(32, params.max_cpus as int ) }
        memory = { Math.min(256, params.max_memory as int) + ".GB" }
        time = '3d'
    }
}
