

process {

	executor = 'local'
	
	max_cpus = 32
	max_memory = 224.GB
    cache = 'lenient'
    maxRetries = 1
	maxErrors='-1'
	
	errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }

    withLabel:xs {
        cpus = 2
        memory = 4.GB
        time = '3d'
    }

	withLabel:s {
        cpus = 4
        memory = 4.GB
        time = '3d'
    }

    withLabel:medium_mem {
        cpus = 1
        memory = 16.GB
        time = '3d'
    }
    withLabel:max_mem {
        cpus = 1
        memory = 250.GB
        time = '3d'
    }
    withLabel:max {
        cpus = 32
        memory = 250.GB
        time = '3d'
    }

   withName:format_input {
	container = 'mihangelova/typeconda:latest'
   }

   withName:collate_features {
		container = 'mihangelova/typer:2.7'
   }
	
	withName:csm_submit {
		container='mihangelova/typeconda:latest'
	}
	withName:call_major {
		        container = 'mihangelova/typer:2.7'
	}
	withName:call_method {
		container = 'mihangelova/typer:2.7'
	}
	withName:call_subsampled {
		        container = 'mihangelova/typer:2.7'

	}
	withName:review_major_types {
		container = 'mihangelova/typer:2.7'
	}
	withName:call_subtypes {
		        container = 'mihangelova/typer:2.7'

	}
	withName:process_probabilities {
		container='mihangelova/typefiji:latest'
	}

	withName:create_composites {
		container='mihangelova/typefiji:latest'
	}

	withName:run_classifier {
		container='ilastik/ilastik-from-binary:1.4.0b13'
	}
	withName:export_tissue_seg {
		container = 'mihangelova/typer:2.7'
	}

	withName:overlay {
		container='mihangelova/typeconda:latest'
	}
	withName:call_subtypes_nostrat {
		container = 'mihangelova/typer:2.7'
	}
	withName:exporter {
        container = 'mihangelova/typer:2.7'
    }  
}

