
//includeConfig 'base.config'
process {

	withName:format_input {
		container = 'mihangelova/typeconda:latest'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}

	withName:collate_features {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:csm_submit {
		container='mihangelova/typeconda:latest'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:tier_one {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:tier_one_ref {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:call_cluster {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:call_subsampled {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:qc_select_images {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:build_strata_model {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:tier_two {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:tier_two_nostrat {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:process_probs {
		container = 'mihangelova/typefiji:latest'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:qc_create_single_channel_images {
		container = 'mihangelova/typefiji:latest'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}

	withName:create_composites {
		container = 'mihangelova/typefiji:latest'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}

	withName:run_classifier {
		container = 'ilastik/ilastik-from-binary:1.4.0b13'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:ts_exporter {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}

	withName:mask_overlay {
		container = 'mihangelova/typeconda:latest'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:exporter {
        container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
    }
	
	withName:qc_overlay {
		container = 'mihangelova/visr:latest'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
	
	withName:qc_intensity_heatmap {
		container = 'mihangelova/typer:2.7'
		containerOptions = "-B /camp -B /nemo -B /flask"
	}
}

