
includeConfig 'base.config'
process {

	withName:format_input {
		container = 'mihangelova/typeconda:latest'
	}

	withName:collate_features {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:csm_submit {
		container='mihangelova/typeconda:latest'
	}
	
	withName:call_major {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:call_major_ref {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:call_method {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:call_subsampled {
		container = 'mihangelova/typer:2.7'

	}
	
	withName:review_major_types {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:call_subtypes {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:call_subtypes_nostrat {
		container = 'mihangelova/typer:2.7'

	}
	
	withName:process_probs {
		container = 'mihangelova/typefiji:latest'
	}

	withName:create_composites {
		container = 'mihangelova/typefiji:latest'
	}

	withName:run_classifier {

		container = 'ilastik/ilastik-from-binary:1.4.0b13'
	}
	
	withName:ts_exporter {
		container = 'mihangelova/typer:2.7'
	}

	withName:mask_overlay {
		container = 'mihangelova/typeconda:latest'
	}
	
	withName:exporter {
        container = 'mihangelova/typer:2.7'
    }
}

