
//includeConfig 'base.config'
process {

	withName:format_input {
		container = 'mihangelova/typeconda:latest'
	}

	withName:collate_features {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:csm_submit {
		container='mihangelova/typeconda:latest'
	}
	
	withName:tier_one {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:tier_one_ref {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:call_cluster {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:call_subsampled {
		container = 'mihangelova/typer:2.7'

	}
	
	withName:build_strata_model {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:tier_two {
		container = 'mihangelova/typer:2.7'
	}
	
	withName:tier_two_nostrat {
		container = 'mihangelova/typer:2.7'

	}
	
	withName:process_probs {
		container = 'mihangelova/typefiji:latest'
	}

	withName:preprocess_panck {
		container = 'mihangelova/typefiji:latest'
	}

	withName:create_composites {
		container = 'mihangelova/typefiji:latest'
	}

	withName:run_classifier {

		container = 'ilastik/ilastik-from-binary:1.4.0b13'
	}
	
	withName:ts_exporter {
		container = 'mihangelova/typer:2.7'
	}

	withName:mask_overlay {
		container = 'mihangelova/typeconda:latest'
	}
	
	withName:exporter {
        container = 'mihangelova/typer:2.7'
    }
}

