/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
*/
params {
	
	// Resources
	max_cpus=2
	max_memory=8.GB
	max_time=12.h

	major_only=false

	publish_dir_mode = 'copy'
    help=false

    study='tracerx'
    cohort='tx100'
    run='final'
    panel='p1'


    // IO Settings
	inDir="$baseDir/data/${study}/${cohort}/imc/outputs/nextflow/"
    outDir="$baseDir/output"

    // Typing parameters
    celltypeReviewFile="$baseDir/data/cell_typing_review.txt"
    major='cellassign'
    major_markers='mcsa'
    subtype_markers='all'
    subtype_method='FastPG'
    major_method='cellassign'

    // Cell type parameters
    cellAssignFile="${baseDir}/data/${panel}_reassign.${study}.${cohort}.txt"

    // Clinical information
    regFile = "{baseDir}/data/metadata.${study}.txt"
}


process {
    executor = 'local'

	singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = '.cache'
}

